.bar {
  font-family: "FiraCode";
  font-size: 14px;
  border-radius: 12px;
  background: transparent;
}

.left {
  padding: 0px 12px;
  border-radius: 12px;
  background: #232634;
}

.center {
  padding: 0px 12px;
  border-radius: 12px;
  background: #232634;
}

.right {
  border-radius: 12px;
  background: transparent;
}

.wifi {
  padding: 0px 12px;
  margin: 0px 4px;
  border-radius: 12px;
  background: #ff0000;
}

.volume {
  padding: 0px 12px;
  margin: 0px 4px;
  border-radius: 12px;
  background: #00ff00;
}

.brightness {
  padding: 0px 12px;
  margin: 0px 4px;
  border-radius: 12px;
  background: #232634;
}

.battery {
  padding: 0px 12px;
  margin: 0px 4px;
  border-radius: 12px;
  background: #232634;
}
