.bar {
  font-family: "FiraCode";
  font-size: 14px;
  border-radius: 6px;
  background: #b48ead;
  color: #2e3440;
  font-weight: 500;
}

tooltip {
  font-family: "FiraCode";
  font-size: 14px;
}

.left {
  border-radius: 12px;
  background: transparent;
}

.workspaces {
  font-size: 18px;
  padding: 0px 12px;
  padding-right: 16px;
  border-radius: 12px;
  background: transparent;
}

.icon,
.icon-active {
  padding: 0px 10px;
  background: transparent;
  color: #fff;
}

.icon-active {
  color: #2e3440;
}

.center {
  padding: 0px 12px;
  border-radius: 12px;
  background: transparent;
}

.right {
  padding: 5px;
  border-radius: 12px;
  background: transparent;
}

.connectivity-tray {
  padding: 5px;
  margin-right: 5px;
  border-radius: 25px;
  background: #ea999c;
  background: transparent;
}

.wifi,
.bluetooth {
  color: #2e3440;
  font-size: 18px;
  padding: 0px 5px;
}

.wifi {
  padding-left: 8px;
  padding-right: 10px;
}

.sep {
  background: #2e3440;
  margin: 4px 0px;
}

.tray {
  padding: 0px 5px;
}

.battery,
.brightness,
.audio {
  padding: 0px 8px;
  border-radius: 12px;
  background: transparent;
  font-size: 18px;
}

.audio {
  color: #2e3440;
}

.brightness {
  color: #2e3440;
}

.battery {
  color: #2e3440;
}

.username {
  padding: 0px 12px;
}
