.bar {
  font-family: "FiraCode";
  font-size: 14px;
  border-radius: 12px;
  background: transparent;
}

tooltip {
  font-family: "FiraCode";
  font-size: 14px;
}

.left {
  border-radius: 12px;
  background: transparent;
}

.workspaces {
  font-size: 18px;
  padding: 0px 12px;
  padding-right: 16px;
  border-radius: 12px;
  background: #232634;
}

.icon,
.icon-active {
  padding: 0px 10px;
  background: transparent;
  color: #c6d0f5;
}

.icon-active {
  color: #fff;
}

.center {
  padding: 0px 12px;
  border-radius: 12px;
  background: #232634;
}

.right {
  border-radius: 12px;
  background: transparent;
}

.connectivity-tray {
  margin-right: 20px;
  border-radius: 12px;
  background: #232634;
}

.wifi {
  font-size: 18px;
  padding: 0px 12px;
  border-radius: 12px;
}

.bluetooth {
  font-size: 18px;
  padding: 0px 12px;
  border-radius: 12px;
}

.tray {
  padding: 0px 5px;
  border-radius: 12px;
  background: #232634;
}

.audio-muted,
.audio {
  padding: 5px;
  margin: 0px;
  border-radius: 12px;
  background: #232634;
}

.audio {
  color: #f4b8e4;
}

.audio-muted {
  color: #a5adce;
}

.audio-icon {
  margin: 10px;
  font-size: 15px;
}

.brightness {
  color: #e5c890;
  padding: 5px;
  margin: 0px;
  border-radius: 12px;
  background: #232634;
}

.brightness-icon {
  margin: 10px;
  font-size: 15px;
}

.battery {
  color: #a6d189;
  padding: 5px;
  margin: 0px;
  border-radius: 12px;
  background: #232634;
}

.battery-icon {
  margin: 10px;
  font-size: 15px;
}
