cat_installer/
dconf/
gtk-*/
pulse/
systemd/
yay/
notion-app/
spotify/
spicetify/Extracted/
spicetify/Backup/
gh/
go/
htop/
mimeapps.list
GIMP/
chromium/
lazygit/
SEGGER/
sublime-text/
systemd/
Thunar/
xfce4/
xsettingsd/
QtProject.conf
QtProject/
clangd/
VirtualBox/
cava/
aerc/
procps/
wireshark/
cef_user_data/
gcolor3/
nextjs-nodejs/
create-next-app-nodejs/
fontforge/
sqlitebrowser/
Code/
Docker Desktop/
grip/
obsidian/
