aerc/
autostart/
.avalonia-build-tasks
cat_installer/
cava/
cef_user_data/
chromium/
clangd/
Code/
connections.db
create-next-app-nodejs/
dconf/
dlv/
Docker Desktop/
Electron/
evolution/
fontforge/
gcolor3/
gh/
GIMP/
github-copilot/
gnome-control-center/
go/
grip/
.gsd-keyboard.settings-ported
gtk-*/
htop/
inkscape/
lazygit/
mimeapps.list
nautilus/
nextjs-nodejs/
notion-app/
obsidian/
procps/
pulse/
qBittorrent/
QtProject/
QtProject.conf
rclone/
SEGGER/
spicetify/Backup/
spicetify/Extracted/
spotify/
sqlitebrowser/
sublime-text/
systemd/
systemd/
Thunar/
tmux/plugins/*
user-dirs.dirs
user-dirs.locale
VirtualBox/
wireshark/
xfce4/
xsettingsd/
yay/
yelp/
