* {
    transition: none;
    box-shadow: none;
    font-family: "Fira Code", regular;
	font-size: 10px;
	color: #f2f2f2;
}

#waybar {
    margin-top: 5px;
    margin-right: 5px;
    margin-left: 5px;
    background: transparent;
    border-radius: 10px;
    border: none;
}

#workspaces {
    margin: 0 3px;
    color: transparent;
}

#workspaces button {
    margin: 3px 0;
    padding: 0 3px;
}

#workspaces button.visible {
}

#workspaces button.focused {
    background: #32363d;
    border-radius: 10px;
}

#workspaces button.urgent * {
    color: #ff0055;
}

#battery, #bluetooth, #cpu, #disk, #memory, #network, #backlight, #window, #custom-pipewire, #custom-clock {
    margin: 4px 2px;
    padding: 2px 8px;
    border-radius: 20px;
    min-width: 8px;
    background-color: #32363d;
}

#custom-powermenu {
    margin: 4px 5px 4px 1px;
    padding: 0 6px;
    background-color: #e64553;
    border-radius: 10px;
    min-width: 15px;
}
  
#custom-launcher {
    margin: 4px 1px 4px 5px;
    padding: 0 6px;
    background-color: #e64553;
    border-radius: 10px;
    min-width: 15px;
}

#battery.warning {
    color: #e5c07a
} 

#battery.critical {
    color: #ff0055
}
